$base-color:#bfb485;

// SKIN SETTINGS
$white_10: rgba(255, 255, 255, 0.1);
$white: #fff;
$color_punch_approx: $base-color;
$color_valencia_approx: #E3D0A5;
$black_10: rgba(0, 0, 0, 0.1);
$color_black_haze_approx: #5a6770;
$color_persian_red_approx: #424242;
$color_shark_approx: #5A6770;
$color_blue_bayoux_approx: #c2c2c2;
$color_mirage_approx: #2c3b41;
$color_outer_space_approx: #2c3b41;
$color_heather_approx: #fff;
$color_bali_hai_approx: #8aa4af;
$color_limed_spruce_approx: #374850;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;

// AUTH LOGO
$auth-logo-bg:#424242;
$auth-logo-height:55px;

$btn-primary-color:#fff !default;
$btn-primary-bg:$base-color !default;
$btn-primary-border:darken($btn-primary-bg, 15%) !default;

$input-box-size:200px;
$admin-edit-profile-bc:#424242;